<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/common/common-css-js :: head"></div>
    <title>404错误</title>
</head>
<body class="w3-pale-blue">
<div class="w3-container ">
    <h2 class="w3-center w3-jumbo w3-text-red"> 404</h2>
    <div style="height: 200px" class="w3-display-container">
        <div class="w3-display-middle">
            <h3><i class="fa fa-warning w3-text-yellow"></i> 阿噢! 页面走丢了……</h3>
            <p>
                很抱歉，我们找不到您需要的页面。
                您也许想 <a class="w3-text-blue w3-hover-text-amber" th:href="@{/admin/index}">回到主页</a>。
            </p>

        </div>
    </div>
</div>
<script>
    /* 当错误页面不是最顶级页面时，将最顶级页面设为错误页面 */
    if(window.top.location.href !== window.location.href) {
        window.top.location.href = window.location.href;
    }
</script>
</body>
</html>